<h1>Complaints for <%= @employer.name %></h1>
<h2><%= link_to "File a Complaint", new_employer_complaint_path %></h2>
<ul>
<% @complaints.each do |complaint| %>
    <li><%= link_to "Complaint ##{complaint.id}", employer_complaint_path(@employer, complaint) %></li>
<% end %>
</ul>

<%= link_to "Back", employer_path(@employer) %>
