<% if object.errors.any? %>
  <section class="errors">
    <h2>
      <%= I18n.t("errors.header") %>
    </h2>
    <h3>
      <%= I18n.t("errors.num_errors", count: object.errors.size) %>
    </h3>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>
