<h1><%= I18n.t("employers.edit.header") %></h1>
<p><%= I18n.t("employers.edit.description") %></p>

<%= render "form", employer: @employer %>

<%= render "shared/redirect", back_url: employers_path %>
