<h1>Employers</h1>
<% @employers.each do |employer| %>
	<section>
		<%= link_to employer.name, employer_path(employer) %> (<%= link_to "edit", edit_employer_path(employer) %>)
	</section>
<% end %>
<%= link_to "Create New Employer", new_employer_path %>
