<h1>Create an Employer</h1>
<p>For fields where the information is unknown, enter "N/A".</p>

<%= render "form", employer: @employer %>

<p><%= render "shared/redirect", back_url: employers_path %></p>
